.name-status {
    display: flex;
    flex-direction: row;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: red;
    margin: 4px 10px 0 0;
    &.checked-in {
        background: green;
    }
}